body {
    background-color:#2a2a2a;
}

.bgColor {
    background-color: #c70101;
}
.comment-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img{
    height: auto;
    max-width: 100%;
    display: table;
}

.comment-img {
    max-width: 50%;
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.time {
    width: 165px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "";
}

.like {
    margin-top: 1rem;
    width: 5rem;
}

.comment {
    margin-top: 1rem;
}

.footer-padding {
	padding-bottom: 60px;
}

.form-control {
    border: 1px solid #aaa;
}

.select2 {
    max-width: 100%;
}

h1 {
    color: #fbffff;
}

.dataComment {
    color: #fbffff;
}

.errorReg {
    color: #fbffff;
}

.errorLog {
    color: #fbffff;
}

.errorCreate {
    color: #fbffff;
}